<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="E:\SQA\IntelliJ Projects\AutomationTestingOrangeToolz\src\test\java\testcases">
        <classes>
            <class name="testcases.TestContactUsPage">
                <methods>
                    <include name="testContactForm"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>